
<!--/.Navbar-->
<!--<div class="m-5">


  <button class="btn btn-outline-danger"
          (click)="salir()"> Salir
  </button>
</div>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"> Travel And Reservations</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home/all-flights']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home/user-flights']">Mis Vuelos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home/rates']">Reservas <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
  <div class="row">
    <div class="col text-right">
      <button class="btn btn-outline-danger" (click)="salir()"> Salir
      </button>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
